/*.undi{
    border: solid 1px;
}

.undi:hover {

      text-decoration: underline;
      color: red;
}*/


  h1 {
  
  font-size: 100px;
  color: red;
  position: absolute;

  left:35%;
 top: 20px;

 }

 .descrizione{

 	padding-top:  200px;
 }