  h1 {
  
  font-size: 100px;
  color: black;
  position: absolute;

  left:35%;
 top: 20px;

 }




 
#row {

  position: relative;
  


/*padding-left: 250px;*/
/*top: 200px;*/
}

#col-5 {
position: absolute;
  padding-top: 25%;
  left: 250px;
}




